# Ignorar TODO en volumesOdoo EXCEPTO addons
odoo/volumesOdoo/*
!odoo/volumesOdoo/addons/
!odoo/volumesOdoo/addons/**

# Archivos de config (SI incluir)
!odoo/docker-compose.yml


# Extensiones ignoradas
*.log
.env
.DS_Store
Thumbs.db
